.root{
    min-width: 10rem;
    max-width: 20rem;
    text-align: center;
    margin-top: 1rem;

}
.media{
    height: 140px;
}
.categories{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 1rem;
}
.breadcumb{
    display: flex;
    margin-top: .7rem;
    margin-left: 5rem;
}